[color]
	diff = auto
	status = auto
	branch = auto
	ui = auto
	interactive = auto
[user]
	name = ludovic
	email = ludovic.pelle@iprotego.com
[alias]
	ci = commit
	ce = checkout
	st = status
    l = log
    branchdate = "for-each-ref --sort=committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative) %(committerdate)%(color:reset))'"

[merge]
	tool = vimdiff
[core]
	editor = vim
[color "branch"]
	current = yellow
	local = yellow
	remote = green
[color "diff"]
	meta = yellow
	frag = magenta
	old = red
	new = green
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[push]
	default = simple
[http]
	sslVerify = false
