snippet media
//Phone
@media (max-width:${1:567px}) {
	${2}
}
//Tablet
@media (min-width: ${1}+1) {
	${3}
}
endsnippet
snippet doc
/// ${1:Documentation}
///
endsnippet
snippet param
/// @param {${1:type}} ${2:$name}
///   ${3:'Description'}
endsnippet
snippet returns
/// @return {${1:type}} ${2}
endsnippet
